<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sales Number Finder</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/script.js" defer></script>
</head>
<body>
<header>
    <h1>
        Sales Number FInder
    </h1>
</header>

<main>
    <h2>
        Phone Numbers Found:
    </h2>
    <ul class="phone-list">
        <img class="loading" alt="loading" title="loading">
    </ul>
</main>

<footer>
</footer>


</body>
</html>
